* {
    font-family: 'Orbitron', sans-serif;
}

.header {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(black, transparent, black),url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVQYV2NkwAMYSZH8z8DAANeArBMkAQNgcXRjcerEsB6vgwAz8gMICC/bPAAAAABJRU5ErkJggg=='), url('../media/moon.jpg');
    background-size:100%,4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
}

body {
    background-color: #000;
}

.bg-black{
    background: #000;
}

:root {
    --main-color: #1364AC;
    --accent-color: #f7df09;
}

.text-main {
    color: var(--main-color);
}

.text-accent {
    color: var(--accent-color);
}

.bg-main {
    background-color: var(--main-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.space {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(black 5%, transparent, black 95%), url('../media/space.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-accent {
    background:
    linear-gradient(to right, var(--accent-color), 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--accent-color), 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--accent-color), 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--accent-color), 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--accent-color), 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--accent-color), 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--accent-color), 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--accent-color), 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.4s;
}

.btn-accent:hover {
    letter-spacing: 4px;
}

.card-space {
    flex-shrink: 0;
    height: 320px;
    width: 200px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.bg-slide {
    background-size: auto;
    background-position: center;
    border-bottom: 8px solid var(--accent-color);
    position: relative;
}
.bg-slide::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: -100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.7s;
}
.bg-slide:hover::after {
    top: 0%;
}

.bg-slide-1 {
    background: url('../media/bosco-verticale-milano.jpg');
}
.bg-slide-2 {
    background: url('../media/eliot_tower_4.jpg');
}
.bg-slide-3 {
    background: url('../media/astrid-quadri-moderni-verticali.jpg');
}
.bg-slide-4 {
    background: url('../media/5140hgJseGL._AC_SX355_.jpg');
}
.bg-slide-5 {
    background: url('../media/quadri-moderni-verticali-dandy-2.jpg')
}

.card-inner {
    position: absolute;
    bottom: -50px;
    left: 10px;
    transition: 1s;
    opacity: 0;
    z-index: 20;
    color: white;
}

.bg-slide:hover .card-inner {
    bottom: 5px;
    opacity: 1;
}

.bg-border {
    background:
    linear-gradient(to right, var(--accent-color), 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--accent-color), 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--accent-color), 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--accent-color), 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--accent-color), 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--accent-color), 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--accent-color), 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--accent-color), 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

.border-custom {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--accent-color) !important;
}

hr.hr {
    height: 2px;
    width: 34%;
    background: linear-gradient(90deg, transparent, var(--main-color), transparent)
}

.wrapperMenu {
    position: fixed;
    top: 80px;
    right: 40px;
    height: 40px;
    width: 40px;
    z-index: 99999;
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.leftSide {
    position: fixed;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
    transition: 1s;
}
.activeLeft {
    left: 0%;
}
.rightSide {
    position: fixed;
    top: 0%;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    background-color: rgba(255,255,255,0.8);
    transition: 1s;
}
.activeRight {
    right: 0%;
}
.voice {
    position: relative;
    left: 0px;
    transition: 0.4s;
}
li.list-group-item.border-0:hover .voice {
    transition: 0.4s;
    left: 10px;
}

.article-heading {
    height: 45vh;
    min-height: 400px;
    background:linear-gradient(black, transparent, black),url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVQYV2NkwAMYSZH8z8DAANeArBMkAQNgcXRjcerEsB6vgwAz8gMICC/bPAAAAABJRU5ErkJggg=='), url('../media/globe-895580.jpg');
    background-size:100%,4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
}

